#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Make the bird images responsive */
.bird {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.bird:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.bird.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Rotation animation */
@keyframes bird-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .playing {
    animation: bird-spin infinite 10s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

img.bird {
  display: block; /* Removes extra space below inline images */
  max-width: calc(90vw - 40px); /* Account for margin */
  max-height: calc(80vh - 40px); /* Account for margin */
  margin: 10px; /* Adds slight margin */
  object-fit: contain; /* Ensures the whole image fits without cropping */
  box-sizing: border-box; /* Ensures the margins don’t add extra size */
}
